/*
body {
  --mantine-color-body: var(--wp--preset--color--base, #f0f0f1);
  --mantine-color-text: var(--wp--preset--color--contrast, #3c434a);
  --mantine-font-family: var(
    --wp--preset--font-family--manrope,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  );
  --mantine-font-size-md: var(--wp--preset--font-size--large, 13px);
  --mantine-line-height: 1.4;
}
*/
.ai-kit-working-border {
  --ai-kit-border-radius: 0;
}
